.titulo{
    display: flex;
    width: 100%;
    justify-content: center;
}
.titulo h1{
    font-size: 35px;
    color: blueviolet;
}
.task-tarea{
    display: flex;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.card{
    width: 80%;
    display: block;
    padding: 10px;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    box-shadow: 2px 3px 8px #8f8f8f69;
    transition: .5s;
    margin-bottom: 5px;
    cursor: cell;
    transition: .5s;
}
.card:hover{
    transform: rotate(2deg);
}
.card h3{
    font-size: 20px;
    font-weight: 500;
    color: #8f8f8f;
}
.card h4{
    font-size: 15px;
    color: blueviolet;
    font-weight: 400;
}
.nuevatarea{
    display: flex;
    text-align: justify;
    font-size: 14px;
    color: #8f8f8f;
    line-height:19px ;
    margin-bottom: 9px;
}
.tiempoentrega{
    display: flex;
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
    color: blue;
}
.limite{
    display: flex;
    text-align: center;
    font-size: 18px;
    color: #1eaa7b;
    margin-bottom: 5px;
}
.btn-delete{
    background: #ec0794;
    color: white;
}
.btn-delete:hover{
    background: #b90675;
}
.btn-update{
    background: #1eaa7b;
    color: white;
}
.btn-update:hover{
    background: #0e835c;
}

.card__prog{
    background: rgb(197, 197, 197);
    width: 80%;
    display: block;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 2px 3px 8px #8f8f8f69;
    transition: .5s;

}
.card__prog_dos{
    background: rgb(255, 187, 187);
    width: 80%;
    display: block;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 2px 3px 8px #8f8f8f69;
    transition: .5s;
}
.card__prog_tres{
    background: rgb(0, 255, 115);
    width: 80%;
    display: block;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 2px 3px 8px #8f8f8f69;
    transition: .5s; 
}