.form-nueva-tarea{
    background: #ffffff;
    padding: 5px;
}
.form-container{
    width: 100%;
    min-height: auto;
    height: 100%;
}
.group{
    display: block;
    margin: 3px;
    padding-bottom: 3px;
    
}
.group>label{
    font-size: 15px;
    font-weight: 300;
    color: #868686;
    margin-bottom: 5px;
}
.group>input[type=text]{
    padding: 6px;
    border: solid 1px #e8e8e8;
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 3px 6px hsla(0, 0%, 75%, 0.68);
    font-size: 15px;
    color: rgb(121, 121, 121);
}
.group>input[type=date]{
    background: #53ffc8;
    width: 100%;
    height: 40px;
    border: 0;
    font-size: 15px;
    transition: all 0.25s ease;
}
.group>[type=date]:hover{
    background: #B1E8CD;
}
.group>select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.group>select{
    cursor: pointer;
    display: inline-block;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border: 0;
    width: 100%;
    font-size: 15px;
    color: rgb(121, 121, 121);
    background: #53ffc8;
    position: relative;
    transition: all 0.25s ease;
}
.group>select::-ms-expand{
    display: none;
}
.group>select:hover{
    background: #B1E8CD;
}
.group>select i{
    position: absolute;
    right: 20px;
    top: calc(50% - 13px);
    width: 16px;
    height: 16px;
    display: block;
    border-left: 4px solid #003a1d;
    border-bottom: 4px solid #003a1d;
    transform: rotate(-45deg);
    transition: all 0.25s ease;
}
.group>select i:hover{
    margin-top: 3px;
}
.group textarea{
    width: 100%;
    border: 0.1px solid #f3f3f3;
    background: #f7f7f7c9;
    border-radius: 6px;
    color: #868686;
    font-size: 15px;
}
.button{
border: none;
padding: 10px;
border-radius: 5px;
cursor: pointer;
transition: .2s ease-out;
font-size: 15px;
cursor: pointer;
transition: .4s;
}
.primario{
    background: #00e69d;
    color: white;
}
.primario:hover{
    background: #019164;
}
.secundario{
    background: #ff2977;
    color: white;
}
.secundario:hover{
    background: #cb0e54;
}