header{
    background-image: linear-gradient(to right top, #0066ff, #5b5cff, #854ffc, #a83bf5, #c712eb);
    box-shadow: 0px 2px 6px #05050586;
    margin-bottom: 5px;
}
.logo{
    display: flex;
    margin: 5px;
    padding: 5px;
    align-items: center;
}
.logo svg{
    width: 45px;
    fill: rgb(255, 255, 255);   
}
.titulo-header{
    margin: 0 15px;
    display: flex;
    align-items: center;
}
.titulo-header h3{
    font-size: 35px;
    color: #41b3ff;
    text-shadow: 1px 2px 1px #fbff00b0;
}
.area-button-task{
    display: inline;
    padding: 5px;
}
.succcess{
    background: #67ff41;
    animation: colores;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s ;
    color: aliceblue;
}
.succcess:hover{
    background: #54d634;
    
 
}
@keyframes colores {
    0%{
        background: #41b3ff;
    }
    25%{
        background: #67ff41;
    }
    50%{
        background: #3aff09;
    }
    75%{
        background: #0680d1;
    }
    100%{
        background: #0c4972;
    }
}
@media(max-width:64rem){
    .logo{
flex-wrap: wrap;
align-items: center;
    
    }
}