* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

.main {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    max-width: 100%rem;
    margin: 0 auto;
}

section {
    display: flex;
    margin: 5px 7px;
    width: 100%;
    background: #fbfbfb;
height: 100vh;
    flex-direction: column;
    align-items: center;

}

.aside {
    width:auto;
    display: flex;
    background: #ffffff;
    box-shadow: -2px 4px 9px #69696994;
    height: 100vh;
}
.title-aside{
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 35px;
}
.mostrar-form {
    opacity: 1;
    transition: opacity 1s;

}

.ocultar-form {
    opacity: 0;
    transition: opacity 1s;

}


@media(max-width:68rem) {
    .row {
        flex-wrap: wrap;
       
    }

    .main {
        flex-wrap: wrap-reverse;
    }
}